@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    line-height: 60px;
    transform: 0.5s;
    z-index: 5;
    border: none;
    background: transparent;
}

.control-btn .prev {
    left: -2px;
}

.control-btn .next {
    right: -13px;
}

.control-btn .prev i,
.control-btn .next i {
    font-size: 20px;
    transition: 0.5s;
    color: #fff;
}

.control-btn .prev:hover,
.control-btn .next:hover {
    color: white;
    cursor: pointer;
}

/*----- control btn -------*/